# Environments
.env
.venv
env/
venv/
ENV/
.vscode/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Project Data (Large files)
data/downloads/
data/*.tdms
data/*.db
data/*.csv
!data/final_clean_dataset_rev.csv
!data/README.md

# Scripts & Visualizations
scripts/
data/visualizations/

# Logs
logs/
*.log

# Temp files
.gemini/
.DS_Store
